/* Import de Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/* Variables */
:root {
  --white-winter: #f0f0f0;
  --blue-principal: #001A6E;
  --blue-secondary: #074799;
  --blue-deep: #00071E;
}

/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family:  "Poppins", serif;
}

main {
  width: 1140px;
  margin: 0 auto;
}

ul, li {
  list-style: none;
}

/* MENU */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--white-winter);
}

.menuContainer {
  width: 1140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menuContainer h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--blue-principal);
}

.menuContainer nav {
  display: flex;
  align-items: center;
}

.menuContainer nav ul {
  display: flex;
  list-style: none;
}

.menuContainer nav ul li {
  margin-right: 1rem;
}

.menuContainer nav ul li a {
  font-size: 1.4rem;
  font-weight: regular;
  color: var(--blue-principal);
  text-decoration: none;
}

.menuContainer nav ul li a:hover {
  color: var(--blue-secondary);
}

.active {
  color: var(--blue-secondary) !important;
  font-weight: 700;
}

/* INICIO */
/* Hero */

.hero {
  position: relative; 
  width: 100%;
  max-width: 1400px;
  margin: 3rem auto;
}

.heroImage img {
  width: 100%; 
  max-width: 1400px;
  height: 60rem;
  border-radius: 1.5rem;
  object-fit: cover; 
}

.heroText {
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  color: #fff;
  text-align: center;
  padding: 2rem 1rem 4rem 1rem;
  background-color: rgba(0, 0, 0, 0.5); 
  border-radius: 10px; 
}

.heroText h1 {
  font-size: 3rem;
  font-weight: 700;
}
.heroText p {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 1rem 0 3rem;
}
.heroText a {
  color: #fff;
  text-decoration: none;
  font-size: 1.4rem;
  padding: 10px 20px;
  background-color: var(--blue-principal);
  border-radius: 5px;
}

.heroText a:hover {
  background-color: var(--blue-secondary);
}

/* Seccion Activities */

.activitiesHome {
  margin: 4rem 0;
}

.activitiesHome h2 {
  font-size: 2.4rem;
  color: var(--blue-principal);
  font-weight: 700;
  padding: 2rem 0;
}

.activities {
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
}

.activities h2 {
  margin-bottom: 2rem;
}

.activities {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.activity {
  max-width: 25rem;
  background: var(--white-winter);
  padding: 1.5rem;
  border-radius: 1rem;
  text-align: center;
}

.activity img {
  width: 100%;
  height: 25rem;
  object-fit: cover;
  border-radius: 0.8rem;
}

.activity h3 {
  margin: 10px 0;
  font-size: 1.6rem;
}

.activity p {
  margin: 3rem 0;
  font-size: 1.2rem;
  color: #555;
}

.activity a {
  color: #fff;
  text-decoration: none;
  font-size: 1.4rem;
  padding: 1rem 2rem;
  background-color: var(--blue-principal);
  border-radius: 0.5rem;
}

.activity a:hover {
  background-color: var(--blue-secondary);
}

/* Sección whyUs*/

.whyUs {
  max-width: 1400px;
  margin: 0 auto;
  padding: 4rem 0;
}

.whyUs h2 {
  font-size: 2.4rem;
  color: var(--blue-principal);
  font-weight: 700;
  margin-bottom: 2rem;
}

.whyUsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding: 2rem;
}

.whyUsText {
  padding: 1rem 2rem;
  text-align: left;
}

.whyUsText p {
  font-size: 1.2rem;
}

/* Sección Newsletters */
.newslettersContainer {
  max-width: 1400px;
  margin: 10rem auto;
  text-align: center;
}

.newsletters {
  background: url('../images/frozenLake.jpg') no-repeat center center/cover;
  border-radius: 1.5rem;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.newsletters h2 {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.newsletters form {
  display: flex;
  gap: 1rem;
}

.newsletters input {
  padding: 1rem;
  border: none;
  border-radius: 5rem;
  width: 25rem;
  font-size: 1.5rem;
}

.newsletters button {
  padding: 1rem 2rem;
  border: none;
  background: var(--blue-principal);
  color: #fff;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background 0.3s ease;
  font-size: 1.5rem;
}

.newsletters button:hover {
  background: var(--blue-secondary);
}

/* Sección aboutUs */
.aboutUsContainer {
  max-width: 1400px;
  margin: 10rem auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.aboutUs, .mapContainer {
  width: 50%;
}

.aboutUs {
  padding: 2rem;
}

.aboutUs h2 {
  font-size: 2.4rem;
  color: var(--blue-principal);
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.aboutUs p {
  font-size: 1.4rem;
  color: #555;
  line-height: 1.5;
}

.mapContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.mapContainer iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 1.5rem;
}




/* PAGINA ACTIVIDADES */

/* Sección Hero */
.heroSearch {
  width: 100%;
  height: 30rem;
  margin: 3rem auto;
  background-image: url('../images/pag2_hero_montreal.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 1.5rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchContainer {
  background-color: white;
  width: 70rem;
  padding: 2rem;
  border-radius: 1.5rem;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.searchContainer h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.searchContainer form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.searchContainer select {
  width: 20rem;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 1.4rem;
}

.searchContainer button {
  padding: 1rem 2rem;
  border: none;
  background: var(--blue-principal);
  color: #fff;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background 0.3s ease;
  font-size: 1.4rem;
}

.searchContainer button:hover {
  background: var(--blue-secondary);
}

/* Sección actividades */

.activitiesContainer {
  display: flex;
  margin: 4rem auto;
  flex-direction: column;
  gap: 2rem;
}

.cardAct {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 2rem auto;
  border-radius: 1rem;
  overflow: hidden;
  background-color: var(--white-winter);
  transition: box-shadow 0.3s ease;
}

.cardAct:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cardImage {
  width: 33%;
}

.cardImage img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.cardText {
  width: 66%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cardText h3 {
  font-size: 2rem;
  color: var(--blue-principal);
  margin-bottom: 1rem;
}

.cardText p {
  font-size: 1.4rem;
  color: #555;
}

.cardText hr {
  margin: 2rem 0;
}
.locationContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.cardText a {
  background-color: var(--blue-principal);
  width: 10rem;
  font-size: 1.5rem;;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background 0.3s ease;
  text-decoration: none;
}

.cardText a:hover {
  background-color:var(--blue-secondary);
}

/* PAGINA DESTINOS */

.heroTitle {
  color: #FFF;
  font-size: 2.5rem;
  font-weight: 700;
}

.citiesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 4rem auto;
}

.cityCard {
  max-width: 40rem;
  margin: 2rem auto;
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 1.5rem;
  color: #333;
}

.cityCard h2 {
  font-size: 2rem;
  color: var(--blue-principal);
  font-weight: 700;
}

.cityCard img {
  width: 100%;
  height: 20rem;
  border-radius: 1.5rem;
  margin-top: 1rem;
}

.cityDetails {
  margin-top: 1.5rem;
}

.cityLocation {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
  color: #555;
}

.cityInfo {
  font-size: 1.5rem;
  margin-top: 1rem;
  color: #666;
}

.activitiesList h3 {
  font-size: 1.8rem;
  color: var(--blue-deep);
  margin-top: 1.5rem;
}

.activitiesList ul {
  list-style-type: none;
  padding: 0;
  margin-top: 1rem;
}

.activitiesList li {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.activitiesList li i {
  color: #ffc107;
}

.buttons {
  margin-top: 1.5rem;
}

.infoButton, .activitiesButton {
  padding: 1rem 2rem;
  border: none;
  background: var(--blue-principal);
  color: #fff;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background 0.3s ease;
  font-size: 1.4rem;
  text-decoration: none;
}

.infoButton:hover, .activitiesButton:hover {
  background-color: var(--blue-secondary);
}


/* PAGINA TESTIMONIOS */
.heroTestimonios{
  background-image: url('../images/frozenLake.jpg');
  width: 1140px;
  height: 250px;
  background-size: cover; 
  background-position: center;
}

.userPhoto {
  width: 80px;
  height: 80px;
  margin: auto;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}
.stars {
  color: #ffc107; 
  margin-bottom: 10px;
}
.opinion {
  font-size: 1.6rem;
  margin-bottom: 10px;
}
.edadComentario {
  color: #6c757d; 
  font-size: 1.5rem;
}


/* PAGINA CONTACTO */

.contactContainer {
  max-width: 1140px;
  margin: 6rem auto;
  display: flex;
  gap: 20px;
}

.contactForm, .map {
  flex: 1;
}

.contactForm form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contactForm form h1 {
  color: var(--blue-principal);
  font-weight: 700;
}

.contactForm input,
.contactForm textarea,
.contactForm button {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contactForm button {
  background-color: var(--blue-principal);
  color: white;
  border: none;
  cursor: pointer;
}

.contactForm button:hover {
  background-color: var(--blue-secondary);
}

.map iframe {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

/* FOOTER */

footer {
  background-color: var(--blue-deep);
  color: var(--white-winter);
  padding: 5rem 0;
  font-size: 1.4rem;
  letter-spacing: 1px;
  line-height: 1.5;
}

footer .footerContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1140px;
  margin: 0 auto;
}

/* info */

footer .footerContainer .info {
  display: flex;
  justify-content: space-between;
}

footer .footerContainer .info div {
  width: 30rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
}

footer .footerContainer .info div h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

footer .footerContainer .info div p {
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

/* social */

footer .footerContainer .socialMedia {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.footerContainer .socialMedia a {
  margin: 0 1rem;
}

.footerContainer .socialMedia a i {
  font-size: 2rem;
  color: var(--white-winter);
}

/* estilos especial para footer Bootstrap*/
.bgColor {
  background-color: var(--blue-deep);
}

.txtLink {
  color: var(--white-winter);
  text-decoration: none;
}

/* RESONSIVE */

/* Responsive para tablets (768px) */
@media (max-width: 768px) {
   /* General */
  main {
    width: 768px;
  }

  /* Menu */
  .menuContainer {
    width: 90%;
  }

  .menuContainer h1 {
    font-size: 2rem;
  }

  .menuContainer nav ul {
    gap: 1rem;
  }

  .menuContainer nav ul li a {
    font-size: 1.4rem;
  }

  /* INICIO */

  @media (max-width: 768px) {
    .heroImage img {
      height: 40rem;
    }
    .heroText {
      width: 60rem;
    }
    .heroText h2 {
      font-size: 2.5rem;
    }
    .heroText p {
      font-size: 1.3rem;
    }
    .activities {
      flex-direction: row;
    }
    .whyUsContainer {
      grid-template-columns: 1fr;
    }
    .newsletters {
      padding: 3rem;
    }
    .newsletters form {
      flex-direction: column;
      align-items: center;
    }
    .newsletters input {
      width: 100%;
    }
    .aboutUsContainer {
      flex-direction: column;
      align-items: center;
    }
    .aboutUs, .mapContainer {
      width: 100%;
    }
  }

  /* ACTIVIDADES */
  .heroSearch {
    width: 80%;
    height: 20rem;
    padding: 1.5rem;
    margin: 2rem auto;
  }

  .searchContainer {
    width: 90%;
    padding: 1.5rem;
  }

  .searchContainer h2 {
    font-size: 1.8rem;
  }

  .searchContainer form {
    flex-direction: row;
    gap: 0.75rem;
  }

  .searchContainer select, .searchContainer button {
    width: 100%;
  }

  .activitiesContainer {
    width: 80%;
    margin: 3rem auto;
    gap: 1.5rem;
  }

  .cardAct {
    flex-direction: column;
  }

  .cardImage {
    width: 100%;
  }

  .cardText {
    width: 100%;
    padding: 1.2rem;
  }

  .cardText h3 {
    font-size: 1.8rem;
  }

  .cardText p {
    font-size: 1.3rem;
  }

  /* DESTINOS */


  /* TESTIMONIOS */
  .heroTestimonios{
    width: 768px;
  }

  /* CONTACTO */
  .contactContainer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-left: 5rem;
    margin-right: 5rem;
  }
}

/* Responsive para celulares (480px) */
@media (max-width: 480px) {

   /* General */
   main {
    width: 420px;
  }

  /* menu */
  .menuContainer {
    flex-direction: column;
    align-items: center;
  }

  .menuContainer h1 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }

  .menuContainer nav {
    width: 100%;
  }

  .menuContainer nav ul {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  /* INICIO */

  @media (max-width: 480px) {
    .heroImage img {
      height: 30rem;
    }
    .heroText {
      padding: 1.5rem;
      width: 30rem;
    }
    .heroText h2 {
      font-size: 2rem;
    }
    .heroText p {
      font-size: 1.2rem;
    }
    .activitiesHome h2, .whyUs h2, .newsletters h2, .aboutUs h2 {
      font-size: 2rem;
    }
    .activity {
      max-width: 100%;
      padding: 1rem;
    }
    .activity img {
      height: 20rem;
    }
    .whyUsText p {
      font-size: 1rem;
    }
    .newsletters {
      padding: 2rem;
    }
    .newsletters input {
      font-size: 1.2rem;
    }
    .newsletters button {
      font-size: 1.2rem;
    }
    .aboutUs p {
      font-size: 1.2rem;
    }
  }

  /* ACTIVIDADES */
  .heroSearch {
    height: 20rem;
    padding: 1rem;
  }

  .searchContainer {
    width: 95%;
    padding: 1rem;
  }

  .searchContainer h2 {
    font-size: 1.6rem;
  }

  .searchContainer form {
    flex-direction: column;
    gap: 0.5rem;
  }

  .searchContainer select, .searchContainer button {
    font-size: 1.2rem;
  }

  .activitiesContainer {
    margin: 2rem auto;
    gap: 1rem;
  }

  .cardText {
    padding: 1rem;
  }

  .cardText h3 {
    font-size: 1.6rem;
  }

  .cardText p {
    font-size: 1.2rem;
  }

  .cardText button {
    width: 100%;
    font-size: 1.4rem;
  }

  /* DESTINOS */

  .cityCard {
    width: 90%;
  }

  /* TESTIMONIOS */
  .heroTestimonios{
    width: 420px;
  }

  /* CONTACTO */

  .contactContainer {
    margin-left: 5rem;
    margin-right: 5rem;
  }

  .contactForm input,
  .contactForm textarea {
      font-size: 14px;
      padding: 8px;
  }
  
  .contactForm button {
      font-size: 14px;
      padding: 8px;
  }
}
